body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER ****/
header{
  box-shadow: rgba(255, 115, 0, 0.3) 0px 5px 1169px, rgb(255, 115, 0, 0.2) 0px 5px 42px;
}
.page-content header{
  box-shadow: none;
  text-align: center;
}
/*/ HEADER ****/

#site {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

#site::before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
  // background-image: url("../../../public/bg1.jpg");
  opacity: 0.1;
  z-index: -1;
}

#site.container {
  overflow: auto;
  flex: 1;
  display: grid;
  grid-template-columns: 50.061px 618fr 50.061px 392fr;
  grid-template-rows: 81px 1fr 30.939px;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Icon PageHeader Focus SideHeader"
    "XBar Main Bar SideMain"
    "Start PageFooter Set SideFooter";
}


#__nuxt {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}


.container {
  padding: 0 5px;
  max-width: 390px;

}

#page-content {
  overflow: auto;
  height:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#page-content > .container{
  padding: 0px 24px 24px 24px;
  max-width: 390px;

}

/* **************************************** */