.logo{
  display: flex;
  justify-content: center;
}
#logo {
  position: relative;
  max-height: 64px;
  padding:0px 16px 16px 16px;
  margin-bottom: -30%;
  box-shadow: rgba(255, 115, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 50%;
  z-index: 999;
  background-color: #fff;
}