nav {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nav-item {
  align-items: center;
  display: flex;
  gap: 6px;
  padding: 2px;
  text-decoration: none;
  color: rgb(63, 158, 105);
}