/*

none 	none 	< 568px
sm 	@media screen and (min-width: 35.5em) 	≥568px
md 	@media screen and (min-width: 48em) 	≥768px
lg 	@media screen and (min-width: 64em) 	≥1024px
xl 	@media screen and (min-width: 80em) 	≥1280px
xxl 	@media screen and (min-width: 120em) 	≥1920px
xxxl 	@media screen and (min-width: 160em) 	≥2560px
x4k 	@media screen and (min-width: 240em) 	≥3840px

*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

div {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #d35400;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.flex {
  display: flex;

}

.v-center:not(.col) {
  align-items: center;

}

.t-center {
  justify-content: center;
}

