@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
/*

none 	none 	< 568px
sm 	@media screen and (min-width: 35.5em) 	≥568px
md 	@media screen and (min-width: 48em) 	≥768px
lg 	@media screen and (min-width: 64em) 	≥1024px
xl 	@media screen and (min-width: 80em) 	≥1280px
xxl 	@media screen and (min-width: 120em) 	≥1920px
xxxl 	@media screen and (min-width: 160em) 	≥2560px
x4k 	@media screen and (min-width: 240em) 	≥3840px

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

div {
  width: 100%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #d35400;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.v-center:not(.col) {
  align-items: center;
}

.t-center {
  justify-content: center;
}

/* SCROLLBAR */
.scrollbar {
  --scroll-size: 8px;
  --scroll-track: rgb(0 0 0 / 0.2%);
  --scroll-thumb-color: #00000002;
  --scroll-thumb-radius: 10px;
}

.scrollbar:hover {
  --scroll-thumb-color: #00000020;
}

@supports not (selector(::-webkit-scrollbar-thumb)) {
  .scrollbar {
    scrollbar-color: var(--scroll-thumb-color, grey) var(--scroll-track, transparent);
    scrollbar-width: thin;
  }
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

/* /SCROLLBAR */
div.logo {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
}

#logo {
  max-height: 64px;
  padding: 0px 16px 16px 16px;
  box-shadow: rgba(255, 115, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 50%;
  z-index: 999;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
}

a:has(#logo) {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 60px;
}

nav > div {
  display: flex;
  justify-content: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  text-decoration: none;
  color: rgb(231, 131, 44);
}

.icon {
  border: 1px dashed #159647;
  border-radius: 50%;
  padding: 6px;
  width: 36px;
  height: 36px;
}

footer {
  padding: 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.footer-item {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-left: auto;
  margin-right: auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: calc(33.333% - 40px); /* üç kart yan yana */
  max-width: 400px;
  text-align: left;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card NuxtImg {
  width: 100%;
  height: auto;
  display: block;
}

.product-card h2 {
  font-size: 1.2em;
  color: var(--primary-header-color);
  text-align: center;
}

.product-card p {
  font-size: 1em;
}

.product-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.badge-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px 15px 0px 15px;
  margin-top: auto;
  text-align: center;
}

.badge {
  background-color: #d35400;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 30px); /* iki kart yan yana */
  }
}
@media (max-width: 480px) {
  .product-card {
    width: 100%; /* tek kart */
  }
}
:root {
  --primary-color: rgba(231, 131, 44, .15);
  --primary-header-color: rgba(231, 131, 44);
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
}

.page-menu li {
  list-style: none;
  background-color: var(--primary-color);
  margin-bottom: 24px;
  color: var(--primary-header-color);
  font-weight: 600;
  font-size: 1em;
  border-radius: 8px;
}

.page-menu li:last-child {
  margin-bottom: 0px;
}

.page-menu .nav-item {
  background-position: 100% -25%;
  padding: 32px 24px;
  background-repeat: no-repeat;
  align-items: flex-start;
  font-size: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* HEADER ****/
header {
  box-shadow: rgba(255, 115, 0, 0.3) 0px 5px 1169px, rgba(255, 115, 0, 0.2) 0px 5px 42px;
}

.page-content header {
  box-shadow: none;
  text-align: center;
}

/*/ HEADER ****/
#site {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

#site::before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
  opacity: 0.1;
  z-index: -1;
}

#site.container {
  overflow: auto;
  flex: 1;
  display: grid;
  grid-template-columns: 50.061px 618fr 50.061px 392fr;
  grid-template-rows: 81px 1fr 30.939px;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "Icon PageHeader Focus SideHeader" "XBar Main Bar SideMain" "Start PageFooter Set SideFooter";
}

#__nuxt {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.container {
  padding: 0 5px;
}

#page-content {
  overflow: auto;
  height: 100%;
}

#page-content > .container {
  padding: 48px 24px 24px 24px;
}

/* **************************************** */
@media screen and (min-width: 36.0625em) {
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  /* HEADER ****/
  header {
    box-shadow: rgba(255, 115, 0, 0.3) 0px 5px 1169px, rgba(255, 115, 0, 0.2) 0px 5px 42px;
  }
  .page-content header {
    box-shadow: none;
    text-align: center;
  }
  /*/ HEADER ****/
  #site {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
  }
  #site::before {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: " ";
    opacity: 0.1;
    z-index: -1;
  }
  #site.container {
    overflow: auto;
    flex: 1;
    display: grid;
    grid-template-columns: 50.061px 618fr 50.061px 392fr;
    grid-template-rows: 81px 1fr 30.939px;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "Icon PageHeader Focus SideHeader" "XBar Main Bar SideMain" "Start PageFooter Set SideFooter";
  }
  #__nuxt {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .container {
    padding: 0 5px;
  }
  #page-content {
    overflow: auto;
    height: 100%;
  }
  #page-content > .container {
    padding: 48px 24px 24px 24px;
  }
  /* **************************************** */
}
@media screen and (min-width: 48.0625em) {
  /* Stil kuralları */
}
/* 
    xs (extra small): 0 - 320px, küçük mobil cihazlar
        @media screen and (max-width: 20em) {}

    sm (small): 321px - 576px, çoğu mobil cihazlar
        @media screen and (min-width: 20.0625em) and (max-width: 36em) {}

    md (medium): 577px - 768px, büyük mobil cihazlar ve küçük tabletler
        @media screen and (min-width: 36.0625em) and (max-width: 48em) {}

    lg (large): 769px - 1024px, tabletler ve küçük dizüstü bilgisayarlar
        @media screen and (min-width: 48.0625em) and (max-width: 64em) {}

    xl (extra large): 1025px - 1280px, büyük tabletler ve standart masaüstü bilgisayarlar
        @media screen and (min-width: 64.0625em) and (max-width: 80em) {}

    xxl (extra extra large): 1281px - 1920px, geniş ekranlı dizüstü ve masaüstü bilgisayarlar
        @media screen and (min-width: 80.0625em) and (max-width: 120em) {}

    xxxl (extra extra extra large): 1921px - 2560px, ultra geniş ekranlar
        @media screen and (min-width: 120.0625em) and (max-width: 160em) {}

    x4k: 2561px ve üzeri, 4K ve üzeri çözünürlüklü ekranlar
        @media screen and (min-width: 160.0625em) {}

*/
body {
  font-family: "Anuphan", sans-serif, system-ui;
}/*# sourceMappingURL=theme.css.map */